################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.svn
/CrossPlatfDynamicLibraryPlugInArchitecture.VC.db
/CrossPlatfDynamicLibraryPlugInArchitecture.VC.VC.opendb
*.suo
